.white_border_button {
  margin-top: 2rem;
  padding: 0.75rem 5rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

@media (min-width: 750px) {
  .green_box_btn:hover .spinner_loader {
    border: 0.2rem solid #174d38;
    border-bottom-color: white;
  }
  .green_box_btn:hover {
    background-color: transparent;
    border: 1px solid #174d38;
    color: #174d38;
    font-weight: 1000 !important;
  }

  .white_border_button:hover {
    background-color: #174d38;
    border: 1px solid #174d38;
    color: white;
  }
}

.green_box_btn {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  padding-inline: 3rem;
  text-align: center;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #174d38;
  border: 1px solid #174d38;
  color: white;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.green_box_btn p {
  cursor: inherit;
  transform: translateY(0.1rem);
}

.spinner_loader {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.2rem solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkout_summaryContainer .spinner_loader{
  border-color: #174d38;
  border-bottom-color: transparent;

}