@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton_animate {
  background: linear-gradient(
    90deg,
    rgba(211, 211, 211, 0.25) 0%,
    rgba(211, 211, 211, 0.5) 50%,
    rgba(211, 211, 211, 0.25) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.3s ease-in-out infinite;
}

.skeleton_card {
  padding: 1.25rem;
}
.skeleton_box {
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}
.skeleton_circle {
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 9;
}
.skeleton_info {
  padding: 1.25rem;
  width: 100%;
}
.name_skeleton {
  height: 2rem;
  width: 100%;
}

.skeleton_detail_left {
  aspect-ratio: initial;
  padding: 1rem 1rem;
  height: 70vh !important;
}

@media (max-width: 750px) {
  .productDetail_sticky {
    width: 100%;
  }
}

@media (min-width: 750px) {
  .skeleton_detail_left {
    aspect-ratio: initial;
    padding: 6rem 2rem;
    height: 100vh !important;
  }
}


.category_skeleton{
  height: 80vh !important;
}