.featured_collections_section {
  width: 100%;
  margin-top: 10rem;
}

.featured_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.featured_scroll {
  padding: 0rem 2rem;
  margin-top: 2.5rem; 
}
.mySwiper{
  display: flex;
  width: 100%;
  overflow: hidden;
}

.featured_scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.featured_shopcard {
  width: 20rem !important;
  flex-shrink: 0;
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  padding: .8rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: rgb(255, 255, 255);
  transition: opacity 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
}
