.featured_collections_section {
  width: 100%;
  margin-top: 10rem;
}

.featured_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.featured_scroll {
  padding: 0rem 2rem;
  margin-top: 2rem; 
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; 
}

.featured_scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.featured_shopcard{
  width: 22vw;
  flex-shrink: 0;
}