.info_header {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #174d38;
  height: 2.25rem;
}
.info_header p {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.info_header p:hover {
  text-decoration: underline;
}
.dummy_hero_div {
  height: 40rem;
  pointer-events: none;
}
.home_hero {
  color: white;
  overflow: hidden;
  position: absolute;
  top: 2.25rem;
  width: 100%;
  height: 0;
}

.home_hero_video {
  pointer-events: none;
}

.home_hero_video::-webkit-media-controls {
  display: none !important;
}

.home_hero_video::-webkit-media-controls-play-button {
  display: none !important;
}


@media (min-width: 750px) {
  .dummy_hero_div {
    height: 66vh;
    pointer-events: none;
  }
  .home_hero {
    color: white;
    overflow: hidden;
    position: absolute;
    top: 2.25rem;
    width: 100%;
    height: 0;
  }
}
.home_hero video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home_hero_inner {
  position: absolute;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}
