.info_header {
    background-color: #174D38;
    height: 2.25rem;
}
.info_header h3{
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.info_header p:hover{
    text-decoration: underline;
}

.home_hero{
    color: white;
    position: relative;
    width: 100%;
    height: calc(100vh - 2.25rem);
}
.home_hero video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(.8);
}
.home_hero_inner{
    position: absolute;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.green_button{
    margin-top: 2rem;
    padding: .25rem 5rem;
    background-color: #174D38;
    color: white;
}