.info_header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #174D38;
    height: 2.25rem;
}
.info_header h3{
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
.info_header p:hover{
    text-decoration: underline;
}
.dummy_hero_div{
    height: calc(100vh - 2.25rem);
    pointer-events: none;
}
.home_hero{
    color: white;
    overflow: hidden;
    position: absolute;
    top: 2.25rem;
    width: 100%;
    height: calc(100vh - 2.25rem);
}
.home_hero video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home_hero_inner{
    position: absolute;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.green_button{
    margin-top: 2rem;
    padding: .75rem 5rem;
    background-color: #174D38;
    color: white;
}