.lookbook_section {
  margin: 8rem 0rem;
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.lookbook_content {
  position: absolute;
  z-index: 9;
  left: 2rem;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lookbook_bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.lookbook_button {
  width: fit-content;
  padding: 0.75rem 4rem;
  background-color: #174d38;
  color: white;
}

.lookbookCard_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.5rem; /* 40px */
}

.lookbookCard_box {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* 20px */
}

.lookbookCard_image {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 6 / 7;
}

.lookbookCard_text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}
.lookbookCard_link {
  width: fit-content;
  opacity: 0.8;
}
.lookbookCard_link:hover {
  text-decoration: underline;
}

.lookbookSlider_section {
  margin: 8rem 0rem;
  width: 100%;
  height: 100vh;
  display: flex;
}

.lookbookSlider_left {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.lookbookSlider_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem; /* 80px */
}

.lookbookSlider_heading_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lookbookSlider_card_wrapper {
  width: 100%;
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.lookbookSlider_card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem; /* 20px */
  width: 20vw;
}

.lookbookSlider_card_image {
  width: 100%;
  aspect-ratio: 6 / 7;
  overflow: hidden;
}

.lookbookSlider_card_description {
  color: rgba(0, 0, 0, 0.8);
}

.lookbookSlider_card_button {
  padding: 0.75rem 1.5rem; /* 12px 24px */
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lookbookSlider_card_button:hover {
  background-color: #333;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 20vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
