.social_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10rem;
}
.socialCard_section {
  margin: 3rem 0rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.socialCard_box {
  position: relative;
  width: 100%;
  aspect-ratio: 5/8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 3rem 0rem; 
  overflow: hidden;
}
.socialCard_box_vid{
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;

}

.socialCard_box:hover .socialCard_box_vid{
  opacity: 1;
}

.socialCard_image_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.socialCard_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.socialCard_description{
  width: 80%;
}
.socialCard_title{
  line-height: 2rem !important;

}