.productDetail_main {
  margin-top: 4rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.productDetail_left {
  /* padding-right: .05rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productDetail_left_upper {
  width: 100%;
  height: 65%;
}
.productDetail_left_lower {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 35%;
}

.productDetail_block {
  width: 100%;
  height: 100vh;
}

.productDetail_right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productDetail_sticky {
  padding-bottom: 2rem;
  height: 65%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width:750px) {
  .productDetail_main {
  margin-top: 4rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  height: calc(100vh - 5rem);
}
  .productDetail_left {
  /* padding-right: .05rem; */
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  .productDetail_right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productDetail_sticky {
  padding-bottom: 2rem;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
}



.productDetail_title {
  margin: 0.5rem 0rem;
}
.productDetail_info {
  position: relative;
}

.productDetail_options {
  width: 100%;
}

.productDetail_row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.productDetail_select {
  width: 50%;
  border: 1px solid #000;
}

.productDetail_select button {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
}
.productDetail_quantity {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #000;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetail_footer {
  width: 100%;
}

.productDetail_addtocart {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.productDetail_addtocart::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  bottom: -2rem;
}
.productDetail_btn {
  border: 1px solid #000;
  width: 85%;
  text-align: center;
  padding: 0.75rem;
}
.productDetail_btn_icon {
  width: 15%;
}
.productDetail_btn_icon img {
  width: 1.75rem;
}

.product_desc_part {
  height: 33%;
}

.accordion_container {
  width: 100%;
  transition: max-height 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  max-width: 500px;
}

.accordion_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}

.accordion_header {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  transition: max-height 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  cursor: pointer;
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.accordion_content.open {
  max-height: 200px;
  padding: 0.5rem 0 1rem;
}

.accordion_content p {
  margin: 0;
  color: #333;
}

.suggestion_parent {
  margin-top: 5rem;
}
.suggestion_parent_header {
  width: 100%;
  text-align: center;
}

.image_banner_paren {
  margin: 5rem 0rem;
  background-color: #174d38;
  color: white;
  width: 100%;
}
.image_banner_paren_left {
  width: 100%;
  height: 30vh;
}
.image_banner_paren_right {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

@media (min-width: 750px) {
  .image_banner_paren_left {
    width: 50%;
    height: 100%;
  }
  .image_banner_paren_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
  }
  .image_banner_paren {
    display: flex;
    height: 50vh;
    height: 70vh;
  }
}
@media (min-width: 1020px) {
  .image_banner_paren {
    height: 90vh;
  }
}

.image_banner_paren_right h3 {
  margin-top: 1rem;
  text-transform: capitalize;
}
.image_banner_paren_right button {
  background-color: white;
  color: #174d38;
  padding: 0.75rem 5rem;
}
