.products_hero-section {
  width: 100%;
  height: 0;
  display: flex;
  align-items: flex-end;
  padding: 2rem 2rem;
  position: relative;
}
.products_hero-img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
.products_content {
  color: black;
  width: 100%;
  z-index: 9;
  padding-block: 2rem;
  background-color: #ffffff;
}

.products_content h2 {
  margin-bottom: 0.75rem;
}

.products_content p {
  line-height: 1.25rem;
}

.category_products_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 4rem;
}
.products_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 4rem;
}
.products_title {
  margin-top: 1rem;
}
.filter_btn {
  width: 100%;
  position: relative;
}

.filter_select {
  width: 100%;
  padding: 0.75rem 0rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;

  /* Remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom arrow */
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23000' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
}

.filter_select:focus {
  outline: none;
  border-color: #174d38;
}

.allproducts_paren {
  flex-shrink: 0;
  width: 100%;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.allproducts_paren .shopCard_card:nth-child(1) {
  border-left: 1px solid #e6e6e6;
}
.allproducts_paren .shopCard_card:last-child {
  border-right: 1px solid #e6e6e6;
}
.allproducts_paren .shopCard_card:nth-child(1),
.allproducts_paren .shopCard_card:nth-child(2),
.allproducts_paren .shopCard_card:nth-child(3),
.allproducts_paren .shopCard_card:nth-child(4) {
  border-top: 1px solid #e6e6e6;
}

@media (min-width: 750px) {
  .products_hero-section {
    width: 100%;
    height: 0rem;
    display: flex;
    align-items: flex-end;
    padding: 3rem 0rem;
    position: relative;
  }

  .products_content {
    width: 40rem;
    padding-block: 3rem;
    margin-left: 3rem;
  }
  .products_content h2 {
    margin-bottom: 1.5rem;
  }

  .products_header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .filter_btn {
    width: 20rem;
  }

  .allproducts_paren {
    flex-shrink: 0;
    width: 100%;
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
