.products_hero-section {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 4rem 0rem;
  position: relative;
  background-color: #174D38;
}
.products_hero-img{
    width: 22rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.products_content h2 {
  margin-bottom: 1rem;
}

.products_content h3 {
  width: 35%;
}


.products_header{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10rem;
}

.allproducts_paren{
  flex-shrink: 0;
  width: 100%;
  display: grid;
  margin-top: 5rem;
  grid-template-columns: repeat(4,1fr);
}