.products_hero-section {
  width: 100%;
  height: 0;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 4rem 0rem;
  position: relative;
  background-color: #174d38;
}
.products_hero-img {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.products_content h2 {
  margin-bottom: 0.5rem;
}

.products_content p {
  width: 100%;
  line-height: 1.25rem;
}

.products_header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.allproducts_paren {
  flex-shrink: 0;
  width: 100%;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.allproducts_paren .shopCard_card:nth-child(1){
  border-left: 1px solid #e6e6e6;
}
.allproducts_paren .shopCard_card:last-child{
  border-right: 1px solid #e6e6e6;
}
.allproducts_paren .shopCard_card:nth-child(1),
.allproducts_paren .shopCard_card:nth-child(2),
.allproducts_paren .shopCard_card:nth-child(3),
.allproducts_paren .shopCard_card:nth-child(4) {
  border-top: 1px solid #e6e6e6;
}

.products_hero-section p {
  color: white !important;
}
@media (min-width: 750px) {
  .products_hero-section {
    width: 100%;
    height: 0rem;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 4rem 0rem;
    position: relative;
    background-color: #174d38;
  }
  .products_hero-img {
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .products_content h2 {
    margin-bottom: 1rem;
  }

  .products_content p {
    width: 35%;
  }

  .products_header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
  }

  .allproducts_paren {
    flex-shrink: 0;
    width: 100%;
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
