.checkoutBgBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08070766;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.checkoutBgBackdrop::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: -1;
}

.spinLoader {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-top: 2px solid #f3f3f3;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 10px 0px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
