body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
button {
  background-color: transparent;
  border: transparent;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.background {
  background-color: #f6f6f6;
}
.padding{
  padding: 0rem 2rem;
}
.uppercase{
  text-transform: uppercase;
}
.invert{
  filter: invert(1);
}
.cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.underline:hover{
  text-decoration: underline;
}
