body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
.w-full {
  width: 100%!important;
}
button {
  background-color: transparent;
  border: transparent;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.background {
  background-color: #f6f6f6;
}
.padding{
  padding: 0rem 1rem;
}
@media (min-width:750px) {
  .padding{
  padding: 0rem 2rem;
}
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.invert{
  filter: invert(1);
}
.cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.underline:hover{
  text-decoration: underline;
}

.under_anim{
  position: relative;
  width: fit-content;
  cursor: pointer;
}
.under_anim::after{
  content: "";
  display: block;
  position: absolute;
  bottom: .1rem;
  border-radius: 20rem;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
}
.under_anim:hover::after{
  width: 100%;
}