body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* Disable text selection */
  user-select: none;
  -webkit-user-select: none;   /* iOS Safari */
  -ms-user-select: none;       /* Old Edge */
  -moz-user-select: none;

  /* Disable long-press menu (iOS) */
  -webkit-touch-callout: none;
   -webkit-tap-highlight-color: transparent;
}
.w-full {
  width: 100%!important;
}
button {
  background-color: transparent;
  border: transparent;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.padding{
  padding: 0rem 1rem;
}
@media (min-width:750px) {
  .padding{
  padding: 0rem 2rem;
}
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.invert{
  filter: invert(1);
}
.cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.underline:hover{
  text-decoration: underline !important;
}
.flex{
  display: flex;
}
.italic{
  font-style: italic;
}
.under_anim{
  position: relative;
  width: fit-content;
  cursor: pointer;
}
.under_anim::after{
  content: "";
  display: block;
  position: absolute;
  bottom: .1rem;
  border-radius: 20rem;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
}
.under_anim:hover::after{
  width: 100%;
}




.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  text-align: center;
}

.scroller span {
  flex-shrink: 0;
}
.hidden{
  opacity: 0;
}

.whatsapp_chat{
  display: flex;
  padding-right: 1rem;
  padding-left: .5rem;
  align-items: center;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 4px 4px #a5a5a52b;
  border-radius: 100px;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.whatsapp_chat_img{
  width: 3rem;
  aspect-ratio: 1/1;
}
.whatsapp_chat:hover{
  transform: scale(1.05);
}
.whatsapp_chat:hover p{
  text-decoration: underline;
}