body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Disable text selection */
  user-select: none;
  -webkit-user-select: none; /* iOS Safari */
  -ms-user-select: none; /* Old Edge */
  -moz-user-select: none;

  /* Disable long-press menu (iOS) */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.w-full {
  width: 100% !important;
}
button {
  background-color: transparent;
  border: transparent;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.padding {
  padding: 0rem 1rem;
}
@media (min-width: 750px) {
  .padding {
    padding: 0rem 2rem;
  }
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.invert {
  filter: invert(1);
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text_decoration_underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline !important;
}
.flex {
  display: flex;
}
.italic {
  font-style: italic;
}
.under_anim {
  position: relative;
  width: fit-content;
  cursor: pointer;
}
.under_anim::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0.1rem;
  border-radius: 20rem;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease;
}
.under_anim:hover::after {
  width: 100%;
}

.relative {
  position: relative;
}

.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  text-align: center;
}

.scroller span {
  flex-shrink: 0;
}
.hidden {
  opacity: 0;
}

.whatsapp_chat {
  opacity: 0;
  display: flex;
  padding-right: 1rem;
  padding-left: 0.5rem;
  align-items: center;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 4px 4px #a5a5a52b;
  border-radius: 100px;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.whatsapp_chat_img {
  width: 3rem;
  aspect-ratio: 1/1;
}
.whatsapp_chat:hover {
  transform: scale(1.05);
}
.whatsapp_chat:hover p {
  text-decoration: underline;
}

.introloader_paren {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: white;
}
.loader_img {
  position: relative;
  width: fit-content;
  overflow: hidden;
}

.loader_img img {
  display: block;
  width: 100%;
}

/* Shiny sweep */
.loader_img::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 50%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.779) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(25deg);
  animation: shine 1s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.loader_img img {
  width: 70vw;
}
@media (min-width: 750px) {
  .loader_img img {
    width: 30vw;
  }
}
.intro_loader {
  color: #174d38;
  font-size: 2rem;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateZ(0);
  animation: mltShdSpin 1.5s infinite ease, round 1.5s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring_size_guide {
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  right: -100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
  position: fixed;
  top: 0;
}
.ring_size_guide .cartBag_menuHeaderClose {
  margin: 1rem;
  top: 0;
  position: absolute;
}
.ring_size_guide_img_paren {
  object-fit: contain;
  width: 100%;
}
.ring_size_guide_img_paren img {
  height: 100%;
}

@media (min-width: 750px) {
  .ring_size_guide {
    width: 50vw;
    right: -51vw;
  }
  .ring_size_guide_img_paren {
    object-fit: contain;
    height: 100%;
    width: fit-content;
  }
}
