.header_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}
@media (min-width: 1020px) {
  .header_overlay {
    backdrop-filter: blur(0.3rem);
  }
}
/* Bag */
.cartBag_openBagParent {
  padding-right: .2rem;
  opacity: 0;
  height: 100vh;
  background-color: #f6f6f6;
  top: 0rem;
  position: fixed;
  overflow: hidden;
  width: 40rem;
  z-index: 9999;
  right: -38rem;
}
.cartBag_bagHeader {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #ffffff;
}

.cartBag_bagHeaderLeft{
  display: flex;
  gap: .5rem;
}
.cartBag_menuHeaderClose {
  cursor: pointer;
}

.cartBag_menuHeaderClose {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
  position: relative;
  z-index: 9;
  background-color: #174D38;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}
.close_icon{
  transform: translateY(.05rem);
}
.empty_cart_box{
  padding: 1.5rem;
}
.cartBag_bagScroll {
  width: 100%;
  overflow-y: scroll;
  height: 72vh;
  padding-bottom: 4rem;
}
.cartBag_bagScroll::-webkit-scrollbar-thumb {
  background-color: #174D38;
  cursor: pointer;
  border-radius: 100px;
}
.cartBag_bagScroll::-webkit-scrollbar {
  width: .3rem;
  background-color: transparent;
}

.cartBag_bagItem {
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #d4d4d4;
  padding: 1rem 1.5rem;
}

.cartBag_bagItemInner {
  width: 100%;
  gap: 1rem;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.cartBag_bagImageWrapper {
  overflow: hidden;
  width: 18%;
  aspect-ratio: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartBag_bagImage{
  transition: scale 0.3s ease;
}
.cartBag_bagImage:hover{
  scale: 1.05;
}
.cartBag_bagImageWrapper img {
  object-fit: cover;
}

@media (min-width: 750px) {
  .cartBag_bagImageWrapper {
    width: 20%;
  }
}

.cartBag_bagImage {
  width: 100%;
  height: 100%;
}

.cartBag_bagItemDetails {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartBag_bagItemTop {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.cartBag_itemName {
  text-transform: uppercase;
}

.cartBag_itemSize {
  opacity: 0.8;
}

.cartBag_bagItemBottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cartBag_qtyControl {
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #0000006b;
  border-radius: 0.25rem;
  height: 2rem;
  gap: 0.5rem;
}
.cartBag_qtyControl p{
  position: relative;
  z-index: 99;
}
.cartBag_qtyControl_dec,
.cartBag_qtyControl_inc {
  position: relative;
  cursor: pointer;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cartBag_qtyControl_dec::after {
  content: "";
  position: absolute;
  background-color: #174D38;
  top: 0;
  width: 0%;
  left: 0;
  height: 100%;
  transition: width 0.3s ease; /* ANIMATION NEEDED */
}
.cartBag_qtyControl_inc::after {
  content: "";
  position: absolute;
  background-color: #174D38;
  top: 0;
  width: 0%;
  right: 0;
  height: 100%;
  transition: width 0.3s ease; /* ANIMATION NEEDED */
}
.cartBag_qtyControl_dec:hover , .cartBag_qtyControl_inc:hover {
  color: white;
}
.cartBag_qtyControl_dec:hover::after, .cartBag_qtyControl_inc:hover:after {
  width: 100%;
}

.cartBag_removeButton {
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.7;
}
.cartBag_removeButton:hover {
  opacity: 1;
  scale: 1.1;
  color: #174D38;
}

.cartBag_bagFooter {
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

.cartBag_totalRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cartBag_continueShopping {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartBag_continueText {
  opacity: 0.7;
}

/* mobile code */
@media (max-width: 750px) {
  .cartBag_openBagParent {
    width: calc(100vw);
    right:-100% ;
    height: 100vh;
    height: 100svh;
    /* height: 45rem; */
    top: 0rem;
  }
  .cartBag_bagHeader {
    height: 5rem;
  }
  .cartBag_bagItem {
    padding: 1rem;
  }
  .cartBag_bagItemInner {
    gap: 1rem;
  }
  .cartBag_bagTitle {
    font-size: 1.125rem !important;
  }
  .cartBag_bagScroll {
    height: 30rem;
    padding-bottom: 5rem;
  }
}
