.footer_classname_wrapper {
  margin-top: 5rem;
  width: 100%;
  background-color: #174d38;
  color: white;
  padding: 2rem;
}

.footer_classname_container {
  width: 100%;
}

/* ========== Features Section ========== */
.footer_classname_features {
  width: 100%;
  position: relative;
  z-index: 9;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: white;
  color: black;
  padding: 3rem 0;
  border-radius: .25rem;
}

.footer_classname_featureCard {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  gap: 1rem;
}

/* ========== Links Grid Section ========== */
.footer_classname_linksGrid {
  margin: 5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 39% 15.25% 15.25% 15.25% 15.25%;
}

.footer_classname_about {
  width: 50%;
}

.footer_classname_heading {
  margin-bottom: 0.5rem;
}

.footer_links_column {
  margin-top: 1rem;
}

.footer_links_column h3 {
  margin: 0.5rem 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.footer_classname_column{
  padding-left: 5.5rem;
}
.footer_classname_column h3:hover {
  opacity: 0.6;
}


/* ========== Bottom Section ========== */
.footer_classname_bottom {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer_logo{
    width: 28vw;
}

.footer_classname_bottom p ,.copyright_txt {
  opacity: 0.8;
}
