/* ========== Wrapper ========== */
.footer_classname_wrapper {
  margin-top: 5rem;
  width: 100%;
  background-color: #174d38;
  color: white;
  padding: 1rem;
}

@media (min-width: 750px) {
  .footer_classname_wrapper {
    padding: 2rem;
    padding-bottom: 7rem;
  }
}

/* ========== Container ========== */
.footer_classname_container {
  width: 100%;
}

/* ========== Features Section ========== */
.footer_classname_features {
  width: 100%;
  position: relative;
  z-index: 9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 0rem;
  background: white;
  color: black;
  padding: 3rem 0;
  border-radius: 0.25rem;
}

@media (min-width: 750px) {
  .footer_classname_features {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
}

.footer_classname_featureCard {
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  gap: 1rem;
}

.footer_classname_featureCard p {
  width: 100%;
}

@media (min-width: 750px) {
  .footer_classname_featureCard {
    padding: 0 1.5rem;
  }
  .footer_classname_featureCard p {
    width: 80%;
  }
}

/* Animation Below */
.footer_below {
  transform: translateY(-100%);
  opacity: 0;
}
.footer_below p {
  color: white !important;
}

/* ========== Links Grid Section ========== */
.footer_classname_linksGrid {
  margin: 4rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 750px) {
  .footer_classname_linksGrid {
    margin: 5rem 0;
    margin-bottom: 1rem;
    grid-template-columns: 39% repeat(4, 15.25%);
  }
}

.footer_classname_about {
  grid-column: span 2;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 750px) {
  .footer_classname_about {
    grid-column: span 1;
    width: 70%;
    line-height: 1rem;
  }
  .footer_classname_about p {
    line-height: 1.25rem;
  }
}

.footer_classname_heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 750px) {
  .footer_classname_heading {
    margin-top: 0;
  }
}

/* Columns */
.footer_links_column {
  margin-top: 1rem;
}

.footer_links_column p {
  margin: 0.5rem 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer_links_column p:hover {
  opacity: 0.6;
}

.footer_classname_column {
  padding-left: 0;
}

@media (min-width: 750px) {
  .footer_classname_column {
    padding-left: 5rem;
  }
}

/* ========== Bottom Section ========== */
.footer_classname_bottom {
  width: 100%;
}

.footer_logo {
  width: 40vw;
}

@media (min-width: 750px) {
  .footer_logo {
    width: 17vw;
  }
  .footer_classname_bottom {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    display: flex;
  }
}

.footer_classname_bottom a {
  text-decoration: underline !important;
}

.footer_classname_bottom p,
.footer_classname_bottom a,
.copyright_txt {
  color: white !important;
  opacity: 0.9;
}

.copyright_txt {
  display: flex;
  gap: 0.25rem;
}

.footer_classname_bottom .footer_logo {
  display: none;
}
@media (max-width: 750px) {
  .footer_classname_about .footer_logo {
    display: none;
  }
  .footer_classname_bottom .footer_logo {
    display: block;
    margin-bottom: 1rem;
  }
}
