.header {
  position: fixed;
  top: 2.25rem;
  height: 6rem;
  z-index: 99;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_paren{
  width: 25%;
}
.header_logo{
  transform: translateY(.2rem);
  mix-blend-mode: difference;
  width: 18vw;
}
.nav_links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav_links p {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.nav_links p:hover {
  text-decoration: underline;
}
.short_links {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.short_links_icon{
  width: 1.5rem;
  mix-blend-mode: difference;
}