/* ========== Header Background ========== */
.header_bg {
  position: fixed;
  top: -5.1rem;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: -1;
  background-color: white;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 750px) {
  .header_bg {
    top: -4.1rem;
    height: 4rem;
  }

  .dummy_paren {
    width: 100%;
    height: 2.25rem;
    pointer-events: none;
  }
}

/* ========== Header Main ========== */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: none;
  z-index: 99;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 750px) {
  .header {
    display: flex;
  }
}

/* ========== Logo ========== */
.logo_paren {
  width: 25%;
}

.header_logo {
  width: 8vw;
  transform: translateY(0.2rem);
  transition: all 0.3s ease-in-out;
  mix-blend-mode: difference;
}
.header_logo:hover{
  scale: 1.05;
}

/* ========== Navigation ========== */
.nav_links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  mix-blend-mode: difference;
}

.nav_links p {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.hover_text {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.hover_text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.15rem;
  width: 0;
  height: .1rem;
  background-color: #fff;
  border-radius: 20rem;
  mix-blend-mode: difference;
  transition: width 0.3s ease;
}

/* hover */
.hover_text:hover::after {
  width: 100%;
}

/* active (current route) */
.hover_text.active {
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}
.hover_text.active::after {
  height: .1rem;
  width: 100%;
}


/* ========== Short Links Icons ========== */
.short_links {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.short_links_icon {
  width: 1.8rem;
  mix-blend-mode: difference;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 750px) {
  .short_links_icon {
    width: 1.4rem;
  }
}

.short_links_icon:hover {
  scale: 1.15;
}
