.mobile_dummy_paren {
  height: 2.25rem;
  pointer-events: none;
  width: 100%;
}
.mobile_header_right{
  width: 20%;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile_header_bg {
  position: fixed;
  top: -5.1rem;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  left: 0;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 5rem;
}
.mobile_header {
  position: sticky;
  top: 0;
  height: 5rem;
  z-index: 999;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 750px) {
  .mobile_header,
  .mobile_dummy_paren {
    display: none;
  }
}

.mobile_menu_icon_paren{
  width: 20%;

}
.mobile_logo_paren{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile_logo {
  mix-blend-mode: difference;
  width: 10rem;
}


/* ============================= */
/* Mobile Menu (Normal CSS)      */
/* Prefix: mobile_menu_classname */
/* ============================= */

.mobile_menu_classname_open_menu {
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: #ffffff;
  color: #2E2D2B;
  padding: 1.25rem; /* 20px */
  padding-bottom: 2rem;
  z-index: 9999999;
}

.mobile_menu_classname_close_icon_container {
  position: absolute;
  top: 2rem;
  right: 2rem; /* 20px */
}
.mobile_menu_header{
  padding: 1.5rem 0;
  width: fit-content;
}
.mobile_menu_header p{
  line-height: 0;
  text-decoration: underline;
}
.mobile_menu_classname_close_icon_container img {
  width: 1.8rem;
}

.links_paren{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.links_paren .home_category_paren{
  overflow-x: scroll;
  margin-top: 1rem;
}
.menu_links_iner{
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.059);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.login_header{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login_header h2{
  line-height: 0;
}
.menu_footer{
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(2,1fr);
}
.menu_footer_title{
  margin-bottom: 1rem;
}
.menu_footer_title_inner{
  white-space: nowrap !important;
  margin-bottom: .25rem;
}