.shopCard_card {
  aspect-ratio: 3/ 4;
  width: 100%;
  padding-bottom: 0.75rem;
  background: white;
  position: relative;
  flex-shrink: 0;
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.shopCard_hoverImg {
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
}

.shopCard_img_wrapper {
  overflow: hidden;
  width: 100%;
  height: 85%;
}

.shopCard_img_wrapper img {
  width: 100%;
  object-fit: contain;
}

.shopCard_card_info {
  background: white;
  height: 25%;
  width: 100%;
  padding: 0.75rem;
  /* 12px */
}

.shopCard_item_name {
  width: 90%;
  /* white-space: nowrap;      */
  overflow: hidden;
  text-overflow: ellipsis;
}

.shopCard_item_price {
  line-height: 1.5rem;
  margin-top: 0.25rem;
  opacity: 0.7;
}

.ribbon_btn {
  position: absolute;
  z-index: 99;
  top: 1rem;
  left: 1rem;
  background-color: #174d38;
  color: white;
  backdrop-filter: blur(0.25rem);
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
}

.ribbon_btn p {
  transform: translateY(0.05rem);
}

.heart_icon {
  position: absolute;
  z-index: 99;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.icon_pr {
  cursor: pointer;
  position: relative;
}

.short_links_icon_heart_hover {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 99;
}

.short_links_icon_heart,
.short_links_icon_heart_hover {
  width: 1.22rem;
}

.icon_pr:hover .short_links_icon_heart_hover {
  opacity: 1;
  scale: 1.5;
}

.icon_pr:hover .short_links_icon_heart {
  opacity: 0;
}

.short_links_icon_heart_hover.show_filled {
  opacity: 1;
  scale: 1.25;
}

.short_links_icon_heart.hidden {
  opacity: 0;
}

@media (min-width: 750px) {
  .shopCard_card:hover .shopCard_hoverImg {
    opacity: 1;
  }

  .shopCard_card {
    aspect-ratio: 3/ 4;
    width: 100%;
    padding-bottom: 0rem;
    background: white;
    position: relative;
    flex-shrink: 0;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  .shopCard_hoverImg {
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .shopCard_card:hover .shopCard_hoverImg {
    opacity: 1;
  }

  .shopCard_img_wrapper {
    overflow: hidden;
    width: 100%;
    height: 88%;
  }

  .shopCard_img_wrapper img {
    width: 100%;
    object-fit: contain;
  }

  .shopCard_card_info {
    background: white;
    height: 12%;
    width: 100%;
    padding: 1rem;
    /* 12px */
  }

  .shopCard_item_price {
    margin-top: 0.1rem;
    opacity: 0.7;
  }

  .heart_icon {
    position: absolute;
    z-index: 99;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  .icon_pr {
    cursor: pointer;
    position: relative;
  }

  .short_links_icon_heart_hover {
    position: absolute;
    top: -0.2rem !important;
    left: 0.1rem !important;
    transition: all 0.3s ease-in-out;
    /* transform: translate(-50%, -50%); */
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 99;
  }

  .short_links_icon_heart,
  .short_links_icon_heart_hover {
    width: 1.25rem;
  }

  .icon_pr:hover .short_links_icon_heart_hover {
    opacity: 1;
    scale: 1.5;
  }

  .icon_pr:hover .short_links_icon_heart {
    opacity: 0;
  }
}