
.shopCard_card {
    background-color: white;
  width: 100%;
  position: relative;
  flex-shrink: 0;
  border: 1px solid #e6e6e6;
}
.shopCard_hoverImg{
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
}
.shopCard_card:hover .shopCard_hoverImg{
    opacity: 1;
}

.shopCard_img_wrapper {
  width: 100%;
  aspect-ratio: 5 / 6;
}

.shopCard_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopCard_card_info {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0.75rem; /* 12px */
  justify-content: space-between;
}

.shopCard_item_price {
  opacity: 0.7;
}

